<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>安全资讯信息删除页面</title>
	<link rel="stylesheet" type="text/css" href="/SpeedPHP/I/css/bootstrap.min.css">
	<script type="text/javascript" src="/SpeedPHP/I/js/jquery.min.js"></script>
	<script type="text/javascript" src="/SpeedPHP/I/js/bootstrap.min.js"></script>
	<style type="text/css">
		th{
			text-align: center;
			background-color: #f1f1f1;
		}
		button{
			outline:none;
		}
		li:hover{
			background-color:#e7e7e7;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-1"></div>
			<div class="col-xs-6 col-sm-10">
				<!-- nav -->
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
						</div>
						<div class="collapse navbar-collapse navbar-collapse-example">
							<ul class="nav navbar-nav">
								<li class=""><a href="">管理页面</a></li>
								<li><a href="<{url c='manage' a='job'}>">招聘信息</a></li>
								<li><a href="<{url c='manage' a='hole'}>">漏洞信息</a></li>
								<li><a href="<{url c='manage' a='tech'}>">技术文章</a></li>
							</ul>
						</div>
					</div>
				</nav>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">过时安全资讯</h3>
					</div>
					<div class="panel-body">
						<form method="post" action="<{url c='manage' a='news_del'}>">
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>
										<th>发布时间</th>
										<th>标题</th>
										<th>内容简介</th>
										<th>全&nbsp;选</th>
									</tr>
								</thead>
								<tbody>
									<{foreach $res_news as $r}>
									<tr>
										<td><{date("Y年m月d日 H:i:s", $r.pubtime)}></td>
										<td><a href="<{$r.url}>"><{$r.title}></a></td>
										<td><{$r.content}></td>
										<td><input name="content[]" type="checkbox" value="<{$r.id}>"></td>
									</tr>
									<{/foreach}>
								</tbody>
								<button type="submit" class="btn btn-default" style="float:right">删&nbsp;除</button>
							</table>
						</form>
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							<{if $pager}>
							<nav>
							<div class="btn-group" role="group" aria-label="First group">
								<a href="<{url c='manage' a='news'}>">
								 	<button type="button" class="btn btn-default">           
						           		<span aria-hidden="true">首页
						           		</span>
						       		</button>
						       	</a>
								<a href="<{url c='manage' a='news' p=$pager.prev_page}>">
									<button type="button" class="btn btn-default">
						            	<span aria-hidden="true">上一页</span>
						        	</button>
					        	</a>
						        <{foreach $pager.all_pages as $p}>
						        <{if $p == $pager.current_page}>
						        <{/if}>
						            <a href="<{url c='manage' a='news' p=$p}>">
						            	<button type="button" class="btn btn-default"><{$p}>
						            	</button>
						            </a>
						        <{/foreach}>
						        <a href="<{url c='manage' a='news' p=$pager.next_page}>">
						        	<button type="button" class="btn btn-default">
						                <span aria-hidden="true">下一页</span>
						        	</button>
						        </a>
						        <a href="<{url c='manage' a='news' p=$pager.prev_page}>">
						        	<button type="button" class="btn btn-default">
						                <span aria-hidden="true">尾页</span>

						            
						        	</button>
						        </a>
							</div>
							
							</nav>
							<{/if}>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-6 col-sm-1"></div>
		</div>
	</div>
</body>
</html>